.slider-container {
  text-align: center;
  margin: 10px;
  grid-column: span 2;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-container {
  position: absolute;
  inset: 0;
}

.image {
  border-radius: 50%;
}