@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Smooch+Sans:wght@100..900&display=swap');

body{
    cursor: default;
    background-color: #FFFFFF;
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}