.doctors-component {
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;

    .doctors-title {
        font-size: 2.2rem;
        color: #333;
        margin-bottom: 2rem;
    }

    .doctors-list {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        max-width: 1200px;
    }

    .doctor-item {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        width: 100%;
        max-width: 350px;

        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;
        }
    }

    .doctor-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;

        @media (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }

    .doctor-details {
        text-align: left;
        flex: 1;

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    .doctor-name {
        font-size: 1.3rem;
        margin-bottom: 0.2rem;
        color: #333;
    }

    .doctor-specialization,
    .doctor-experience {
        font-size: 1rem;
        color: #666;
        margin-bottom: 0.3rem;

    }
}